<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books</title>
</head>

<body>
    <div id="allbooks">
        <% result.forEach(val=>{%>

            <div class="books">
                <h3>
                    <%=val.title%>
                </h3>
                <h4>
                    <%=val.author%>
                </h4>
                <h5>ISBN :
                    <%=val.ISBN%>
                </h5>
                <img src="<%=val.img%>" alt="">
                <p>
                    <%=val.description%>
                </p>
                <button>details</button>
            </div>
            <%})%>
    </div>
</body>

</html>